<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Trace Automation Suite" parallel="false">
	<test name="Regression Tests">
		<classes>
			<class name="test.com.flipkart.DriverSetup" />
			<class name="test.com.flipkart.LoginTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->